*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #303133;
  background-color: #fff;
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}

/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.el-pagination {
  margin-top: 24px;
  justify-content: flex-end;
}

/* Custom-table
------------------------------ */

.mod-wrap {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr max-content;

  .table-wrap {
    position: relative;

    .el-table {
      height: 100%;
      overflow-y: auto;
      position: absolute;
    }
  }
}

.custom-drawer {
  .el-drawer__header {
    padding: 16px 18px;
    margin-bottom: 0;
    border-bottom: 1px solid #f4f4f4;
  }
}

:root {
  --ev-header-height: 54px;
}
