$--color-primary: #3E8EF7;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #000000;

$sidebar--color-text-dark: #f1f4f5;

// Content
$content--background-color: #f1f4f5;
